
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.dssp{
  text-align: center;
}
.ds img{
  width: 35%;
}

.ds{
  width: 30%;
  float: left;
  margin: auto;
  margin-left: 2.5%;
  margin-bottom: 50px;
}

.footer{
  clear: both;

}